/* Custom container */
.container-narrow {
  margin: 0px auto;
  max-width: 900px; 
  padding: 0px; 
  padding-left: 20px;
  padding-right: 20px; }

.container-narrow > hr {
  margin: 30px 0; }

.container-narrownomargin {
  margin: 0px;
  max-width: 900px; 
  padding: 0px; }

.container-narrownomargin > hr {
  margin: 30px 0; }

/*nav bar adjustments */  
.navbar-inner {
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-static-top .navbar-inner {
  background-color: transparent; 
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border: 0px;
  box-shadow: none;
}

.navbar-static-top {
    position: static;
    margin-bottom: 20px;
	background-color: #eaeaef;
}

.navbar .nav > li > a {
	padding: 10px 15px 10px;
	text-shadow: none;
	color: #2f3b45;
}

.navbar .brand {
    color: #444444;
	text-shadow: 0 0 0 #ffffff; 
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
  
  html {
    overflow-y: scroll;
}
